'/home/appuser/venv/bin/python -m pip install --upgrade pip' 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
scikit-learn==1.1.2 
import plotly.graph_objects as go
from wordcloud import WordCloud
from google.colab import drive
import os
from string import punctuation
import string
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import LabelBinarizer
from scipy.sparse import vstack, hstack, csr_matrix
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import linear_model
import lightgbm
import xgboost
import pickle

