pip==22.2.2
pandas==1.2.2
numpy==1.22.0
seaborn
streamlit
#matplotlib.pyplot 
scikit-learn==0.24.1
#plotly.graph_objects
wordcloud
WordCloud
google.colab
drive
#os
#string
#punctuation
nltk==3.6.6
#nltk.corpus
stopwords
#nltk.stem.porter
PorterStemmer
sklearn
#feature_extraction
#text 
#CountVectorizer
#TfidfVectorizer
preprocessing
#LabelBinarizer
scipy
sparse
#vstack
#hstack
#csr_matrix
sklearn 
model_selection 
#KFold
metrics 
#mean_squared_error
#r2_score
#linear_model
lightgbm
xgboost==1.3.3
#pickle
